<!doctype html>
<html lang="{{ site.lang | default: " ja" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!-- <meta name="color-scheme" content="light dark" /> -->
  <!-- IE互換性のためのおまじない -->
  <link rel="stylesheet" href="./md/style.css" media="screen" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | retaltive_url }}">
  <!-- 数式のための記述 -->
  <script
    type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[['\$','\$'],['\\(','\\)']],processEscapes:true},CommonHTML: {matchFontHeight:false}});</script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

  {% seo %}
  {% include head-custom.html}
  <!-- md/style.css、assets/css/style.css, head-custom.html -->
</head>
<body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
</body>
</html>
<script>
  let sheets = document.styleSheets
  let sheet = sheets[sheets.length - 1];
  let codeElements = document.querySelectorAll("code");
  for (let i = 0; i < codeElements.length; i++) {
    let codeElement = codeElements[i]
    codeElement.parentElement.classList.add("pre" + i)

    // <div class="language-shell highlighter-rouge">
    // <div class="highlight">
    // <pre class="highlight">
    // <code>
    // から「python」を抽出
    clsName = codeElement
    .parentElement
      .parentElement
      .parentElement
      .className
    langName = codeElement
      .parentElement
      .parentElement
      .parentElement
      .className
      .match(/language-(\S+)\s/)[1]

    sheet.insertRule(
      `.pre${i}:before { content: "${langName}";}`,
      sheet.cssRules.length);
  }
</script>